<html>
    <head>
        <title>Explore</title>
        <link rel="stylesheet" type="text/css" href="/../css/homepagestyle.css"> 
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    
    <body>
        <div class="logo">SocialMedia</div>
            <div class="utilities">
                <div class="utility"> 
                    <img alt="icon" src="../icons/add-a-contact-on-phone-interface-symbol-of-a-user-with-a-plus-sign.png">
                </div>
                <div class="utility"> 
                    <img alt="icon" src="../icons/close-envelope.png">
                </div>
                <div class="utility"> 
                    <img alt="icon" src="../icons/turn-notifications-on-button.png">
                </div>
            </div>

            <div class="profile">
                <div class="Overlay"></div>
                                 {{#each result.[1]}}

                    <div class="img">

                        <img alt="pic" src="{{userdp}}" > 
                    </div>
                    <div class="profileName">
                      <p>  {{username}}</p>
                    </div>

                    <div>
                        <p>
                            Followers : {{follower_count}}
                            {{/each}}
                                    <a href="/profile" class=" button editbutton">View Profile</a>
                                    <a href="/logout" class=" button editbutton">Sign Out</a>
                        </p>
                    </div>
                    
            </div>
        
            
            <div class ="info">
                    <div class="section" id="tab">
                        <a href="/homepage" >Feed</a>
            <a href="/explore">explore</a>
        </div>


            <div class ="posts">
                                {{#each result.[0]}}

                        <div class="person">
                            <div class="friendimage"><img alt2="pics" src="../images/Zayn-malik%202.jpg"></div>
                            

                                    <div class="friendName" name="friendName">
                                        {{username}}
                                    </div>

        <button type ="button" onclick="followPeople({{userid}})" >Follow</button>

                        </div>
                                            {{/each}}          


                    </div>

            </div>
        
        <script type="text/javascript">

function followPeople(pid){
                    
console.log(pid);
fetch('/follow',{
    method :'post',
    headers :{
        'Content-Type' :'application/json'
    }
    body:JSON.stringify({pid})
})   ;
    
                }


</script>
    </body>
</html>